<form action="/" method="POST" encType="multipart/form-data">
<h3>Upload Photos</h3>
<input type="file" name="sampleFile" accepts="image/*"/>
<input type="submit" class="btn btn-primary">

</form>

<div class="card">
  <img class="card_image" src="/img/default.png" alt="User Images">
</div>
<h3>Upload Photos</h3>
    <input type="file" name="sampleFile" accepts="image/*" />
    <input type="submit" class="btn btn-primary">

 <div class="card">
        <div class="card-header">
          add clothing
        </div>
        <div class="card-body">
          <form action="" method="POST" role="form">

            <div class="form-group">
              <label for="">Name</label>
              <input type="text" class="form-control" id="name" placeholder="">
            </div>

            <div class="form-group">
              <label for="">Description</label>
              <input type="text" class="form-control" id="description" placeholder="">
            </div>

            <div class="form-group">
              <label for="">Brand</label>
              <input type="text" class="form-control" id="breed" placeholder="">
            </div>

            <div class="form-group">
              <label for="">Location</label>
              <input type="text" class="form-control" id="location" placeholder="">
            </div>

            <div class="form-group">
              <label for="">Contact Email</label>
              <input type="text" class="form-control" id="email" placeholder="">
            </div>

          </form>
          <br>