<form action="/" method="POST" encType="multipart/form-data">
<h3>Upload Photos</h3>
<input type="file" name="sampleFile" accepts="image/*"/>
<input type="submit" class="btn btn-primary">

</form>

<div class="card">
  <img class="card_image" src="/img/default.png" alt="User Images">
</div>