<form action="/" method="POST" encType="multipart/form-data">
<h3>Upload Photos</h3>
<input type="file" name="sampleFile" accepts="image/*"/>
<input type="submit" class="btn btn-primary">

</form>

<-- i think we need to have the images display here and then link it to the show on the homepage- w can discuss it later
<div class="card">
  <img class="card_image" src="/img/default.png" alt="post">
  

</div>